header
    h1.logo Test Logo

nav
    ul
        li: a(href="#about") About 
        li: a(href="#youtube") YouTube
        li: a(href="#mentoring") Mentoring
        li: a(href="#articles") Articles
        li: a(href="#design") Design
        li: a(href="#notes") Notes 
        li: a(href="#contact") Contact
        li: a(href="#new") New
        li: a(href="#blubb") Blubb