<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
  </head>
  <body>
    {{ content }}


    <script src="/assets/js/functions.js"></script>
    <!--{% if page.url == "/index.html" %}
    {% endif %} -->
  </body>
</html>
